Debug/
Release/
build/
**/Debug/
**/Release/
**/build/
Binary/

STM32CubeN6-main/
STM32Cube_FW_N6_V1.0.0/
STM32Cube_FW_N6_V1.1.1/
STM32Cube_FW_N6_V1.3.0/

*.o
*.d
*.elf
*.hex
*.bin
*.map
*.list
*.log
*.tmp
*.bak

.metadata/
RemoteSystemsTempFiles/
.DS_Store
Thumbs.db